body{
    padding: 1em;
    margin-left: 400px;
    margin-right: 400px;
    border-left: solid black 1px;
    border-right:solid black 1px;
    align-items: center;
}    
    
*{
    margin:0
    }

    img, #p1{
        margin-left: 40px;
    }